.header {
    width: 100%;
    padding: 12px 0px;
}

.header-container {
    padding: 0px 15px;
}

.header-menu > img:hover {
    cursor: pointer;
    transition-duration: 0.5s;
}

.header-menu > img {
    width: 142px;
    height: 34px;
    margin: 7px 24px 7px 0px;
    transition-duration: 0.5s;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    list-style-type: none;
    margin-left: 50px;
    color: #4b566b;
    transition-duration: 0.3s;
}

.menu > ul > li:hover {
    color: #fe696a;
    cursor: pointer;
    transition-duration: 0.3s;
}

.header-icons > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header-icons > ul > li > i {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b566b;
    font-size: 1.25rem;
    line-height: 2.875rem;
}

.header-icons > ul > li > i:hover {
    cursor: pointer;
}