.header {
    width: 100%;
    padding: 16px 0;
}

.header-container {
    padding: 0 15px;
}

.header-menu > img {
    width: 142px;
    height: 34px;
    cursor: pointer;
}

.menu {
    margin-left: 15px;
}

.menu > ul > li {
    list-style-type: none;
    margin-left: 30px;
    color: var(--header-link);
    cursor: pointer;
    transition-duration: 0.3s;
    padding: 5px 0;
}

.menu > ul > li:hover {
    color: var(--link-color);
    transition-duration: 0.3s;
}

.header-icons > ul {
    list-style-type: none;
}

.header-icons i {
    width: 46px;
    height: 46px;
    color: var(--header-link);
    font-size: 1.25rem;
    cursor: pointer;
}

.arrow-down {
    font-size: 12px;
}

.menu li:nth-child(1) {
    border-right: 1px solid var(--header-link-border);
    padding-right: 30px;
}
