* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --link-color: #fe696a;
    --btn-bg: #fe696a;
    --btn-border: #fe696a;
    --title-color: #373f50;
    --description-color: #7d879c;
    --selection-color: rgba(78,84,200,.15);
    --h2-color: 255, 255, 255;
    --background-color: #fe696a;

}

::selection {
    background: var(--selection-color);
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.container {
    width: 1260px;
}

.section {
    width: 100%;
    padding: 70px 0;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--title-color);
    margin-bottom: 0.75rem;
}

.section-description {
    color: var(--description-color);
}

.introduction {
    width: 100%;
    height: 632.5px;
    background-image: url('./img/hero-bg.jpg');
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
}

.introduction-content {
    text-align: center;
    color: white;
    margin-top: 10rem;
}

.introduction-content > h5 {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.introduction-content > h1 {
    font-size: 2.5rem;
}

.introduction-content > h1 > span {
    color: var(--link-color)
}

.btn {
    padding: .625rem 1.375rem;
    font-size: .9375rem;
    font-weight: normal;
    border-radius: .3125rem;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: var(--btn-bg);
    text-decoration: none;
    line-height: 1.5;
    border: 1px solid var(--btn-border);
}

.introduction-btn-container {
    margin-top: 40px;
}

.foods-container {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 1.875rem;
}

.food-card {
    border-radius: .4375rem;
    -webkit-box-shadow: 0px 2px 19px -10px rgba(125,125,125,1);
    -moz-box-shadow: 0px 2px 19px -10px rgba(125,125,125,1);
    box-shadow: 0px 2px 19px -10px rgba(125,125,125,1);
    cursor: pointer;
}

.food-card > img {
    width: 390px;
    height: 279.5px;
    border-top-left-radius: .4375rem;
    border-top-right-radius: .4375rem;
}

.food-card-content {
    padding: 2rem 0;
}

.food-name {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--title-color);
}

.browsing-container {
    background-color: #fe696a;
    display: flex;
    justify-content: center;
    width: 1519.2px;
    height: 413px;

}

.browsing-content {
    width: 1260px;
    height: 456px;
    display: flex;
    justify-content: space-around;


}

.app-container {
    display: block;
    align-items: center;
    margin-top: 90px;
    margin-left: 110px;
}

.app-title {
    color: #ffff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 16px;
}

.app-paragraph {
    color: #ffff;
    opacity: .7;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 30px;
}

.app-buton {
    display: flex;
    justify-content: space-around;
    border-radius: 0.4375rem;

}

.app-buton > a {
    width: 150px;
    height: 50.5px;
    background-color: #2B3445;
    border-radius: 0.4375rem;
    text-align: center;
    color: #ffff;
    text-decoration: none;
}

.app-span-1 {
    color: #fff9;
    font-size: .6875rem;
    margin-bottom: -0.125rem;
}



